* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}


html,
body {
  margin: 0;
  padding: 0;
}



/* Intro */

section.intro,
header {
  background-color: #29375b;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px - 55px);
}

.intro div span {
  font-size: 1rem;
  color: rgba(202, 142, 31, 0.904);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  word-spacing: 4px;
}
.intro-image img {
  max-width: 100px;
  height: auto;
}

.intro-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50% !important;
  overflow: hidden;
}

.intro-body {
  margin-top: 40px;
}

h1 {
  color: #1ba098;
  font-size: 4.5rem;
  font-weight: bold;
}

/* Nav styles */
nav {
  padding-top: 20px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  padding: 8px;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  text-decoration: none;
  transition: all 0.6s;
}


nav ul li:hover a {
  color: #fff;
}

nav a {
  color: #1ba098;
  text-decoration: none;
}

/* Classes */
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}




/* footer */
footer {
  color: #1ba098;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #212c49;
}

footer .author {
  color: rgba(202, 142, 31, 0.904);
}




/* Media Queries */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  .intro div span {
    font-size: 1rem;
    color: rgba(202, 142, 31, 0.904);
    text-transform: uppercase;
    font-size: 10px;
  }
}